local ReplicatedStorage = game:GetService("ReplicatedStorage")
local user = game:GetService("Players").LocalPlayer.Name

-- Define allowed users here
local allowedUsers = {
  "CKVScripter",
  "CKVScripter2",  -- Add more usernames here
}

if table.find(allowedUsers, user) then
  loadstring(game:HttpGet("https://raw.githubusercontent.com/CKVHubs/Secret/main/LICENSE?token=GHSAT0AAAAAACTJ5HBYYFDPY4JHPUPGIMQEZTCIHCA"))()
else
 print("You dont onwn the script")
end
